@font-face {
  font-family: "gilroybold";
  src: url("https://fundfolio.com/fonts/gilroy-bold-webfont.woff"),
    url("https://fundfolio.com/fonts/gilroy-bold-webfont.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroyextrabold";
  src: url("https://fundfolio.com/fonts/gilroy-extrabold-webfont.woff"),
    url("https://fundfolio.com/fonts/gilroy-extrabold-webfont.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroyheavy";
  src: url("https://fundfolio.com/fonts/gilroy-heavy-webfont.woff"),
    url("https://fundfolio.com/fonts/gilroy-heavy-webfont.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroymedium";
  src: url("https://fundfolio.com/fonts/gilroy-medium-webfont.woff"),
    url("https://fundfolio.com/fonts/gilroy-medium-webfont.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gilroyregular";
  src: url("https://fundfolio.com/fonts/gilroy-regular-webfont.woff"),
    url("https://fundfolio.com/fonts/gilroy-regular-webfont.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
